<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Comments</title>
	<% include partials/head %>
</head>
<body>
	<% include partials/header %>

<!-- TOPIC AREA-->
	<div class="row section">
		<div class="small-12 columns">
			<div class="row">
				<div class="small-1 columns vote-container">
					<div class="row">
						<div class="small-12 columns">
							<form action="<%=route%>/upvote?_method=PUT" method="POST">
								<input class='vote-image' type="image" src="/imgs/upvote.png" alt='submit'>
							</form>
						</div>
					</div>
					<div class="row">
						<div class="small-12 columns">
							<p><%=comments[0].votes%></p>
						</div>
					</div>
					<div class="row">
						<div class="small-12 columns">
							<form action="<%=route%>/downvote?_method=PUT" method="POST">
								<input class='vote-image' type="image" src="/imgs/downvote.png" alt='submit'>
							</form>
						</div>
					</div>
				</div>
				<div class="small-11 columns vertical-align">
					<div class="row">
						<h1><b><%=comments[0].topic%></b></h1>
					</div>
				</div>
			</div>
			<div class="row">
				<h4><%=comments[0].detail%></h4>
			</div>
		</div>
	</div>
	
<!-- BUTTON TO NEW COMMENT PAGE -->
	<div class="row">
		<div class="small-6 columns">
			<form action="<%=route%>/new" method="GET">
				<button>New Comment</button>
			</form>
		</div>
		<div class="small-6 columns"></div>
	</div>

<!-- comments start here -->
	<div class="row section">
		<div class="small-12 columns">
			<div class="row comment">
				<div class="small-1 columns">
					<div class="row">
						<div class="small-12 columns">Avatar</div>
					</div>
				</div>
				<div class="small-9 columns">
					<div class="row">
						Comment	
					</div>
				</div>
				<div class="small-2 columns">
					<div class="row">
						Posted
					</div>
				</div>
			</div>
<!-- BEGIN LOOPING COMMENTS -->
			<% if (comments[0].comment) { %>
				<% comments.forEach(function(comment) { %>
			<div class="row comment">
				<div class="small-1 columns">
					avatar here
				</div>
				<div class="small-9 columns">
					<div class="row">
					 <p class='posted-by'><%=comment.alias%> said:</p>
					</div>
					<div class="row">
						<p><%=comment.comment%></p>
					</div>
				</div>
				<div class="small-2 columns">
					<div class="row">
						<p><%=comment.updated%></p>
					</div>
				</div>
			</div>
				<% })} %>
		</div>
	</div>

<!-- new comment form -->
	<form action="<%=route%>" method='POST'>
		<div class="row section">
			<div class="small-12 columns">
			<div class="row">
				<label for="detail-input">Comment:</label>
			</div>
			<div class="row">
				<textarea name="comment" id="detail-input" cols="30" rows="10" required></textarea>
			</div>
		</div>
		<div class="row">
			<div class="small-9 columns">
				
			</div>
			<div class="small-3 columns">
				<button>Add Comment</button>
			</div>
		</div>
		</div>
	</form>

	<div class="row">
			<div class="small-2 small-centered columns">
				
					<form action="<%=back_path%>" method='GET'>
						<button>Back</button>
					</form>
				
			</div>
		</div>

</body>
	<% include partials/footer %>
</html>