<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=path%></title>
	<% include partials/head %>
</head>
<body>
	<div class="container">
	<% include partials/header %>
	<div class="row top">
		<div class="small-12 columns">
			<h1>/<%=path%></h1>
		</div>
	</div>

	<div class="row">
		<div class="small-6 columns">
			<div class="row">
				<form action="/boards/<%=path%>/new" method="GET">
					<button>Create Topic</button>
				</form>
			</div>
		</div>
		<div class="small-6 columns">
		</div>
	</div>

	<div class="row section">
		<div class="small-12 columns">
			<div class="row topbar">
				<div class="small-1 columns">Likes</div>
				<div class="small-8 columns">Topic</div>
				<div class="small-1 columns">Update</div>
				<div class="small-2 column">Comments</div>
			</div>
				
				<% topics.forEach(function(topic) { %>
			<div class="row comment">
				<div class="small-1 columns vote-container"><p><%=topic.votes%></p></div>
				<div class="small-8 columns">
					<div class="row">
					<a href="/boards/<%=path%>/<%=topic.id%>/<%=topic.topic%>"><%=topic.topic%></a>
					</div>
					<div class="row">
						<p class='posted-by'>Created by <%=topic.alias%>
						<% if (topic.location) { %> <!-- if geoTag exists -->
					 	from <%=topic.location%> 
						<% } %>
						</p>
					</div>
				</div>
				<div class="small-2 columns"><%=topic.updated%></div>
				<div class="small-1 column"><%=topic.posts%></div>
			</div>
				<% }) %>

		</div>
		<!-- <div class="small-2 medium-3 columns">
			<div class="row">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla asperiores sed debitis soluta voluptate deleniti, illo optio tempora quaerat possimus ipsam, earum ad vel blanditiis exercitationem facere accusantium et, consequuntur.
			</div>
		</div> -->
	</div>
	<% include partials/footer %>
</div>
</body>
</html>